<html>
    
    <head>

    </head>

    <body>

        <script>

            var word = "{{word}}";
            var trans = "{{translation}}";

            function alter() {
                if (document.getElementById("word").innerHTML == word) {
                    document.getElementById("word").innerHTML = trans;
                }
                else {
                    document.getElementById("word").innerHTML = word;
                }
            }

        </script>


        
        <h1 id="word">{{word}}</h1>

        <form method="POST">
            <button type="button" id="switch" onclick="alter()">Switch</button>
            <button type="button" id="correct">Correct</button>
            <button type="button" id="wrong">Wrong</button>
        </form>

    </body>

    <script src="/static/js/practice.js"></script>
</html>